@font-face {
  font-display: swap;
  font-family: Migra Extra Bold;
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Migra-Extrabold.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: Migra Regular;
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Migra-Regular.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: Migra Medium;
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Migra-Medium.woff2) format("woff2"),
    url(./fonts/Migra-Medium.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: Object Sans Heavy;
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/PPObjectSans-Heavy.woff2) format("woff2"),
    url(./fonts/PPObjectSans-Heavy.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: Object Sans Medium;
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/PPObjectSans-Medium.woff2) format("woff2"),
    url(./fonts/PPObjectSans-Heavy.woff) format("woff");
}

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h4 {
  font-size: 1.4rem;
  line-height: 16.8px;
  font-family: Object Sans Medium, times new roman;
}

.main1 {
  width: 100%;
  height: 100vh;
  background-color: rgb(93 144 97);
  padding: 3rem 0 3rem 0rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

header {
  position: fixed;
  padding-left: 3rem;
  padding-right: 1.5rem;
  transition: all 0.15s;
  z-index: 10;
  top: 0;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  height: 99px;
  backdrop-filter: blur(0);
  background-color: rgba(84, 57, 57, 0);
  transition: all 0.15s;
}

header.scroll {
  backdrop-filter: blur(25px);
  background-color: rgba(84, 57, 57, 0.25);
  transition: all 0.15s;
}

header > ul.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}

header > ul.flex > li > ul {
  display: flex;
}

header > ul.flex > li > ul > li {
  padding-bottom: 1.3rem;
  padding-top: 1.3rem;
}

header > ul.flex > li > ul > li:not(:first-child) {
  padding-left: 1rem;
}

header > ul.flex > li > ul > li {
  padding-right: 2rem;
}

header > ul.flex > li > ul > li:hover {
  opacity: 0.5;
}

header > ul.flex > li > .absolute {
  position: absolute;
  left: 50%;
  top: 41%;
  transform: translate(-50%, -50%);
}

header > ul.flex > li.hd-btn {
  border: 1px solid #fff;
  padding: 2rem 1.8rem;
  box-sizing: border-box;
  border-radius: 0.375rem;
}

header > ul.flex > li.hd-btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

header > ul.flex > li > .absolute > .logo {
  width: 25.3rem;
  height: 3rem;
  margin-top: 10px;
}

header > ul.flex h4 {
  color: #fff;
  font-size: 1.75rem;
  line-height: 16.8px;
  letter-spacing: 0px;
  font-family: Object Sans Medium, times new roman;
  font-weight: inherit;
}

header > ul.flex li ul li {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
/*  */
main .sentences {
  display: flex;
  grid-column: span 4 / span 4;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  z-index: 3;
  white-space: normal;
  position: relative;
}

main .sentences .visible {
  opacity: 1;
  width: 100%;
  /* position: absolute;
  top: 50%; */
  position: relative;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  padding-left: 3rem;
}

main .sentences .visible h1 {
  font-family: Object Sans Heavy, times new roman;
  font-size: 6.2rem;
  letter-spacing: -1px;
  line-height: 50px;
  text-transform: uppercase;
  opacity: 1;
  position: relative;
}
/* .op{
  opacity: 1;
} */

main .sentences .white {
  color: white;
}
main .sentences .white.show {
  display: block;
}
main .sentences .brown {
  color: rgb(213, 204, 190);
}

main .sentences .explore {
  padding-left: 3rem;
}

main .carousel {
  grid-column: span 8 / span 8;
  overflow: hidden;
}

main .carousel .slides {
  height: 100%;
  display: flex;
}

main .carousel .slides.animate {
  transition: 0.5s;
}

main .carousel .slides .slide-wrapper {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  flex: 0 0 85%;
  display: grid;
}

main .carousel .slides .slide-wrapper .slide {
  grid-column: span 2 / span 2;
  align-items: center;
  display: flex;
}

main .carousel .slides .slide-wrapper .slide figure {
  width: 100%;
}

main .mobile_main {
  display: none;
}

main .explore a {
  display: flex;
}

main .explore a span {
  padding-top: 0.2rem;
  font-size: 1.4rem;
  color: #fff;
  border-bottom: 1px dashed #fff;
  font-family: Object Sans Medium, times new roman;
  text-transform: uppercase;
}

main .explore a .w-11 svg {
  width: 1.1rem;
  padding-right: 0.8rem;
}

section a {
  display: flex;
}

section a span {
  padding-top: 0.2rem;
  font-size: 1.4rem;
  color: #fff;
  border-bottom: 1px dashed #fff;
  font-family: Object Sans Medium, times new roman;
  text-transform: uppercase;
}

section a .w-11 svg {
  width: 1.1rem;
  padding-right: 0.8rem;
}

body {
  position: relative;
}

.cursor {
  z-index: 999;
  background-color: transparent;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  pointer-events: none;
  border: 1px dashed #fff;
  position: absolute;
  color: #fff;
  left: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.cursor-content {
  position: absolute;
  font-family: Object Sans Medium, times new roman;
}

.main1 .slide-wrapper .slide figure {
  width: 100%;
  margin: 0;
  position: relative;
}

.op {
  overflow: hidden;
  position: relative;
  padding-top: 138.86363636363637%;
}

.pr {
  position: relative;
  overflow: hidden;
}

h2 {
  font-family: Object Sans Heavy, times new roman;
}

.main2 {
  background-color: rgb(240, 233, 223);
  padding: 3rem;
  padding-bottom: 10rem;
  height: 100%;
  box-sizing: border-box;
}

.flex-r {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.main2 .main2-tit {
  font-size: 4.2rem;
  line-height: 44px;
}

.main2 .fruit-round img {
  /* height: calc(100% + 1px);
  width: calc(100% + 1px); */
  /* display: block;
    height: calc(100% + 1px);
    left: 50%;
    opacity: 1;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    transition: opacity .4s linear;
    width: calc(100% + 1px);
    position: absolute; */
}

.grid {
  display: grid;
}

.grid2 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.fy-tween {
  justify-content: space-between;
}

.main2 .grid-le div img {
  height: calc(100% + 1px);
  width: calc(100% + 1px);
}

.main2 > .grid-le {
  grid-column: span 7 / span 7;
}

.main2 .fruit-round {
  grid-column: 9 / span 4;
}

.main2 .grid-le .grid-leaf {
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 3rem;
}

.main2 .grid-le .grid-leaf .grid-le {
  grid-column: span 3 / span 3;
}

.main2 .grid-le .grid-leaf .grid-ri {
  margin-top: auto;
  grid-column: span 4 / span 4;
}

.main2 .grid-le .grid-leaf .grid-ri h4 {
  margin: 0;
  padding-bottom: 1.5rem;
}

body,
p {
  font-family: Migra Medium, times new roman;
  letter-spacing: 0.25px;
  font-size: 1.6rem;
  line-height: 18px;
}

.txt-brown {
  color: rgb(84 57 57);
}

.main3 {
  background-color: rgb(240, 233, 223);
  height: 100%;
  padding: 3rem;
  box-sizing: border-box;
}

.arrow-ri {
  padding-top: 0.2rem;
  font-size: 1.4rem;
  color: #543939;
  border-bottom: 1px dashed #543939;
  font-family: Object Sans Medium, times new roman;
  text-transform: uppercase;
}

.inline-b {
  display: inline-block;
}

.pt-1-6 {
  padding-top: 1.6rem;
}

section h1 {
  font-size: 6.2rem;
  letter-spacing: -1px;
  line-height: 50px;
  text-transform: uppercase;
  font-family: Object Sans Heavy, times new roman;
}

.d-b {
  display: block;
}

.main3 .grid-p {
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 3rem;
  padding: 0.8rem 0;
}

.main3 .grid-p h4 {
  padding-bottom: 0.5rem;
}

.main3 .grid-p div {
  grid-column: span 4 / span 4;
  cursor: pointer;
}

.main3 .grid-p .inner .blur {
  position: relative;
}

.main3 .grid-p .inner .blur p {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 1rem;
  font-size: 20px;
  font-family: Object Sans Medium, times new roman;
}

.main3 .grid-p .inner .blur:hover p {
  display: block;
}

.main3 .grid-p .inner .blur img {
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}

.pr_newswire {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.main3 .grid-p .p-txt {
  padding-top: 2rem;
  padding-bottom: 0.8rem;
  text-align: center;
}

.main3 .grid-p .inner {
  padding: 0.8rem 0 8rem 0;
}

.main3 .grid .inner img:hover {
  filter: blur(5px);
  transition: filter 0.25s;
}

.main4 {
  padding: 10rem 3rem;
  background-color: #b2956d;
  height: 850px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 3rem;
}

.main4 .inner {
  grid-column: span 4 / span 4;
  color: #fff;
  display: grid;
  align-items: center;
}

.main4 .inner img {
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}

.main4 .inner.split-c .grid-ri {
  grid-column: 3/4;
  grid-row: 2/3;
  width: 100%;
}

.main4 .inner.split-c {
  grid-template-rows: 100% 20px;
  grid-template-columns: repeat(4, 24%);
  align-items: normal;
  margin: auto;
}

.arrow-ri.white {
  color: #fff;
  border-color: #fff;
}

.main4 .pd-2r {
  padding-bottom: 2rem;
}

.main4 .inner h4 {
  font-weight: inherit;
}

.main4 .inner p {
  grid-column: 1/3;
}

.main5 {
  padding: 3rem;
  height: 500px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  background-color: #f0e9df;
  box-sizing: border-box;
}

.main5 h4 {
  font-weight: inherit;
  padding-bottom: 2rem;
}

.main5 .txt-gold {
  color: #b2956d;
}

.main5 .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.main6 {
  padding: 3rem;
  height: 800px;
  grid-template-columns: minmax(0, 1.8fr) minmax(0, 1fr) minmax(0, 1.4fr);
  background-color: #f0e9df;
  grid-template-rows: 25% 23% 33%;
  gap: 3rem;
  box-sizing: border-box;
}

.main6 .grid-le {
  grid-column: 1/ 2;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main6 .grid-le .flex-start {
  align-self: flex-start;
}

.main6 .grid-le .flex-start h2 {
  font-size: 4.2rem;
  line-height: 44px;
}

.main6 .grid-le .flex-start h4 {
  font-weight: inherit;
  padding-bottom: 2rem;
}

.main6 .grid-le .flex-end h4 {
  font-weight: inherit;
  padding-bottom: 1.5rem;
}

.main6 .grid-ce {
  grid-column: 2/3;
  grid-row: 3/4;
}

.main6 .grid-ce img {
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}

.main6 .grid-ri {
  grid-column: 3/4;
  grid-row: 1/4;
}

.main6 .grid-ri img {
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}

.main6 .grid-le .flex-end p {
  width: 60%;
}

footer {
  height: 740px;
  background-color: #543939;
  padding: 3rem;
  box-sizing: border-box;
  color: #fff;
}

footer .f-list ul li {
  margin-left: 1.2rem;
}

footer .f-list ul li:hover {
  opacity: 0.5;
}

footer .f-list ul li a {
  color: #fff;
  font-size: 1.4rem;
  line-height: 16.8px;
  font-family: Object Sans Medium, times new roman;
  text-transform: uppercase;
}

footer .f-list {
  display: flex;
  justify-content: center;
  height: 97.6px;
}

footer .f-logo {
  width: 100%;
  height: 12rem;
}

footer .sign-link {
  height: 126.6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 15.9rem 0;
}

footer .sign-link .link-form {
  width: 33%;
  justify-content: space-between;
  border-bottom: 1px dashed #fff;
}

footer .sign-link .link-form input {
  background-color: transparent;
  border: none;
}

footer .sign-link .link-form input[type="email"] {
  width: 25vw;
}

footer .sign-link .link-form input[type="submit"] {
  color: #fff;
  padding-bottom: 0.5rem;
}

footer .sign-link p {
  width: 30.75rem;
  padding-bottom: 5rem;
  padding-top: 1rem;
}

@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* 엘리 리더님이 보내주신 코드 */
article {
  position: relative;
  height: 100vh;
  background-color: skyblue;
  overflow: hidden;
  grid-column: span 8 / span 8;
}

main .swiper3 {
  position: relative;
  left: 10%;
  top: 8%;
  margin: auto 0;
  grid-column: span 8 / span 8;
  display: flex;
  height: 100%;
}

article .swiper3 img {
  /* 하나의 스와이퍼 기준으로 왼쪽 정렬, position 이 아닌 다른 속성으로 하셔도 될 것 같습니다. */
  /* position: absolute;
  left: 0; */
}

main .swiper3 .swiper-wrapper {
  position: absolute;
}

main .swiper3 .swiper-wrapper .swiper-slide {
  display: flex;
  height: 88%;
}

.swiper3 .swiper-button-next {
  color: transparent;
}
.flex.mobile {
  display: none;
}

.flex.mobile_main {
  display: none;
}

.main3 .grid-p .inner.start2 {
  grid-column-start: 0;
}

.main6 .grid-ce .grid-ce-intro {
  display: none;
}

footer input[type="email"]::placeholder {
  color: #9ca3af;
  font-weight: 500;
  font-family: Object Sans Medium, times new roman;
}

footer .sign-link .link-form input[type="submit"] {
  font-family: Object Sans Medium, times new roman;
}

.main2 .grid-leaf {
  grid-column: 1/-1;
}

.main2 .grid-leaf .grid-le {
  grid-column: span 6 / span 6;
}

.main2 .grid-leaf .grid-ri {
  grid-column: span 6 / span 6;
}

@keyframes menu {
  0% {
    left: -30%;
  }

  100% {
    left: 0;
  }
}

.m-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 100%;
  background-color: rgb(84 57 57);
  padding: 3rem;
  overflow-y: auto;
  width: 30%;
  /* transition: .6s; */
  animation: menu 1s ease-in;
  left: 0;
  transition: 1s;
}

.m-menu .grid-4 img {
  width: 95%;
}

.m-menu > * {
  color: #fff;
}

.m-menu .flex-r.space-between .whole-h4 {
  padding-bottom: 2rem;
  font-size: 1.4rem;
  line-height: 16.8px;
  font-weight: inherit;
}

.m-menu .flex-r.space-between .logo {
  display: none;
}
.m-menu .flex-r.space-between .close-icon {
  display: none;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.m-menu .flex-r .logo {
  width: 14.2rem;
  height: 2rem;
}

.m-menu .grid-4 .flex-c ul li a {
  color: inherit;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 3rem;
  padding-top: 2rem;
  padding-bottom: 15rem;
}

.m-menu .grid-4 div {
  grid-column: span 2 / span 2;
}

.m-menu .grid-4 div h4 {
  padding-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: inherit;
  text-transform: uppercase;
}

.m-menu button {
  width: 29%;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  height: 5rem;
  background-color: rgb(84 57 57);
  /* margin: 4rem 0 6rem 0; */
  text-transform: uppercase;
  font-family: Object Sans Medium, times new roman;
  color: #fff;
  left: 3rem;
  position: fixed;
  z-index: 11;
  bottom: 3rem;
}

.m-menu button:hover {
  transform: scale(1.05);
  /* transition: 0.5s; */
}

/* .m-menu button:before {
  content: "";
  width: 100%;
  height: 40px;
  z-index: 11;
  background: linear-gradient(0deg, rgba(84, 57, 57, 0), #543939 80%);
  position: absolute;
  left: -3px;
  top: -40px;
}
.m-menu button:hover:before {
  content: "";
  width: 100%;
  height: 40px;
  z-index: 11;
  background: linear-gradient(0deg, rgba(84, 57, 57, 0), #543939 80%);
  position: absolute;
  left: -3px;
  top: -42px;
} */

.main2 .grid-le.none {
  display: none;
}
.main2 .fruit-round.none {
  display: none;
}
.main2 .grid-leaf.none {
  display: none;
}

.m-menu .grid-4 div .flex-c a {
  color: inherit;
}

.m-menu .grid-4 div .flex-c a h2 {
  margin-bottom: 1rem;
}

/* 메뉴 모달 뒤에 */
.m-menu-wrap {
  background-color: rgba(84, 57, 57, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  backdrop-filter: blur(6px);
}

.cursor.fade {
  display: none;
}

.m-menu-wrap.fade {
  display: none;
}

.m-menu.fade {
  left: -40%;
  top: 0;
  animation: menu 1s ease-out reverse;
  transition: 1s;
}

.m-menu.fade .m-menu-graident {
  left: -40%;
  animation: menu 0.4s ease-out reverse;
}

.m-menu.fade button {
  left: -40%;
  animation: menu 0.4s ease-out reverse;
}

.m-menu .grid-4 div:nth-child(2) .flex-c li a {
  font-family: Object Sans Medium, times new roman;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.m-menu-graident {
  position: fixed;
  bottom: 0;
  width: 30%;
  height: 3rem;
  /* background: linear-gradient(0deg,#543939, rgba(84, 57, 57, 0),  80%); */
  z-index: 11;
  left: 3rem;
  background: rgba(84, 57, 57);
  /* background: linear-gradient(0deg, rgba(84, 57, 57, 0), #543939 80%);; */

  /* backdrop-filter: blur(25px); */
}

.m-menu-graident:before {
  content: "";
  width: 100%;
  height: 40px;
  z-index: 11;
  background: linear-gradient(0deg, rgba(84, 57, 57, 0), #543939 80%);
  position: absolute;
  left: 0px;
  top: -9rem;
}

.flex-r.whole.fade {
  display: none;
}

.flex-r.whole {
  position: fixed;
  z-index: 12;
  bottom: 3rem;
  right: 3rem;
  width: 400px;
  height: 46%;
  margin-right: 1.5rem;
  transition: 0.5s;
}

.flex-r.whole p {
  font-size: 1.6rem;
  line-height: 18px;
  color: #fff;
  padding-bottom: 1rem;
}
.flex-r.whole img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-r.whole .fade-link {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.flex-r.whole .fade-link h4 {
  color: #fff;
  font-weight: inherit;
  line-height: 16.8px;
  font-size: 1.4rem;
}

.flex-r.whole a .w-11 svg {
  width: 1.1rem;
  padding-right: 0.8rem;
}

.flex-r.whole .fade-link .grid-ce-intro .pt-1-6.d-b > * {
  color: #fff;
}

.flex-r.whole .fade-link .grid-ce-intro .pt-1-6.d-b .arrow-ri {
  color: #fff;
  border-color: #fff;
}

@media screen and (max-width: 1270px) {
  .header > ul.flex li a h4 {
    font-size: 1rem;
  }
  .explore {
    padding-left: 3rem;
  }

  header > ul.flex > li > .absolute > .logo {
    width: 20.3rem;
  }

  /* .grid2 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  } */

  .main2 .main2-tit {
    font-size: 2.4rem;
    line-height: 24px;
    width: 94%;
    letter-spacing: -1px;
  }

  /* .main2 >.grid-le {
    grid-column: 1/-1;
  }

  .main2 .grid-le .grid-leaf .grid-ri {
    margin-top: 0;
  } */
  main .swiper3 .swiper-wrapper .swiper-slide {
    flex: 0 0 85%;
    object-fit: cover;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    display: grid;
    height: 85%;
  }
  main .swiper3 .swiper-wrapper .swiper-slide img {
    grid-column: span 6 / span 6;
  }

  /* .main2 .fruit-round {
    grid-column: span 3/ span 3;
    grid-column-start: 2;
} */
}

@media screen and (max-width: 1200px) {
  .m-menu {
    width: 50%;
  }
  .m-menu-graident {
    width: 50%;
  }
  .m-menu button {
    width: 48.5%;
  }
}

@media screen and (max-width: 1199px) {
  .flex-r.whole {
    display: none;
  }
}

@media screen and (max-width: 765px) {
  main .explore a span {
    font-size: 1.2rem;
  }
  .grid2 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  main .swiper3 .swiper-wrapper .swiper-slide {
    flex: 0 0 85%;
    object-fit: cover;
  }

  main .swiper3 .swiper-wrapper {
    position: relative;
  }

  main .sentences .visible h1 {
    font-size: 3.5rem;
    line-height: 34px;
  }

  main .mobile_main {
    display: grid;
    width: 90vw;
  }

  main .sentences {
    display: none;
  }

  .mobile_main .sentences.show {
    display: flex;
  }

  main .swiper3 {
    height: 93.4%;
    overflow: hidden;
    top: 4%;
    left: 13%;
    width: 91%;
  }

  main .swiper3 .swiper-wrapper .swiper-slide {
    flex: 0 0 86%;
    object-fit: cover;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    display: grid;
    height: 100%;
  }

  main .swiper3 .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    grid-column: span 6 / span 6;
    display: flex;
    align-items: center;
  }

  .main2.grid2 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    position: relative;
    height: 80%;
  }

  .main2 > .grid-le {
    grid-column: 1/-1;
  }

  .main2 .grid-le.none {
    display: grid;
  }

  .main2 .fruit-round.none {
    display: grid;
    grid-column: span 3 / span 3;
    grid-column-start: 2;
  }

  .main2 .grid-leaf.none {
    display: grid;
  }

  .main2 .grid-le.flex-c.fy-tween {
    display: none;
  }

  .main2 .fruit-round.whole {
    display: none;
  }

  .main2 .grid-leaf.none {
    grid-column: 1/-1;
    gap: 3rem;
    /* position: absolute;
    bottom: 0; */
    margin-top: 3rem;
  }

  .main2 .grid-leaf.none .grid-le {
    grid-column: 1/3;
  }

  .main2 .grid-leaf.none .grid-ri {
    grid-column: 3/5;
  }

  /* .main2 .fruit-round {
    display: flex;
    justify-content: end;
    align-items: center;
  } */

  .main2 .fruit-round img {
    width: 100%;
  }

  .main2 .grid-le.flex-c.fy-tween {
    display: none;
  }

  .main2 .fruit-round.whole {
    display: none;
  }

  .flex.header_none {
    display: none;
  }

  .flex.mobile .logo {
    width: 14.2rem;
    height: 2rem;
  }

  section h1 {
    font-size: 3.5rem;
    line-height: 34px;
    letter-spacing: 1px;
  }

  section h4 {
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 14px;
    font-weight: inherit;
    text-transform: uppercase;
  }

  .main4 {
    padding: 6rem 3rem;
    background-color: #b2956d;
    height: 100%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 3rem;
    display: flex;
    flex-direction: column;
  }

  .main3 {
    height: 100%;
  }

  .main3 .grid-p {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .main3 .grid-p .inner:first-child {
    display: none;
  }

  .main3 .grid-p .inner {
    grid-column: span 3 / span 3;
  }
  .main3 .grid-p .inner.start2 {
    grid-column-start: 2;
  }

  section .arrow-ri {
    font-size: 1.2rem;
  }

  section p {
    font-size: 1.2rem;
    margin: 0;
  }

  .main5 .inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }

  .main6 {
    padding: 3rem;
    height: 100%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    background-color: #f0e9df;
    grid-template-rows: auto auto auto;
    gap: 3rem;
    box-sizing: border-box;
  }

  .main6 .grid-le .flex-start h2 {
    letter-spacing: -0.5px;
    line-height: 24px;
    font-size: 2.4rem;
  }

  .main6 .grid-le {
    grid-column: 1/ -1;
    grid-row: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main6 .grid-le .flex-end {
    display: none;
  }

  .main6 .grid-ri {
    grid-column: span 3 / span 3;
    grid-row-start: 2;
    grid-column-start: 2;
  }

  .main6 .grid-ce {
    grid-column: 1/-1;
    grid-row-start: 4;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 3rem;
  }

  .main6 .grid-ce .grid-ce-intro {
    display: block;
    grid-column: span 2 / span 2;
  }

  .main6 .grid-ce .grid-ce-intro h4 {
    margin-bottom: 2rem;
  }

  .main6 .grid-ce img {
    grid-column: span 2 / span 2;
  }

  header {
    height: fit-content;
    padding: 3rem 1.5rem 3rem 3rem;
  }

  header .flex.mobile li span {
    /* font-size: 28px;
    color: #fff; */
    width: 1.9rem;
    height: 1rem;
    display: block;
  }

  footer .f-list {
    height: 33%;
  }

  footer .f-list .flex-r {
    flex-direction: column;
  }

  footer .f-list .flex-r li {
    margin-left: 1.2rem;
    text-align: center;
  }

  footer .f-list .flex-r li a {
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 14px;
  }

  footer .sign-link h4 {
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 14px;
    font-weight: inherit;
  }

  footer .sign-link p {
    width: 100%;
    padding-bottom: 0rem;
    padding-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 14px;
  }

  footer .sign-link .link-form {
    width: 100%;
    padding-bottom: 0.5rem;
  }

  .flex.mobile {
    display: flex;
  }

  .main2 .grid-le .grid-leaf.none .grid-le {
    grid-column: span 2 / span 2;
  }
  .main2 .grid-le .grid-leaf.none .grid-ri {
    grid-column: span 2 / span 2;
  }

  .pr_newswire {
    display: block;
    width: 33.3%;
    margin-top: 3rem;
  }

  .m-menu {
    width: 60%;
  }
  .m-menu-graident {
    width: 60%;
  }
  .m-menu button {
    width: 60%;
  }

  .flex-r.whole {
    display: none;
  }

  .m-menu .grid-4 img {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  main .sentences .visible h1 {
    font-size: 3.5rem;
  }

  .main2 .main2-tit {
    width: 73vw;
  }

  .main2.grid2 {
    height: 650px;
  }
}
